<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>List Product</h1>
<a href="/admin/products/create">Create new</a>
<ul>
    <%for (var i = 0; i < listData.length; i++){%>
    <li>
        <span><%=listData[i].id%> - <%=listData[i].name%></span>
        <span>
            <a href="/admin/products/detail/<%= listData[i]._id%>">Detail</a>&nbsp;
            <a href="/admin/products/edit/<%= listData[i]._id%>">Edit</a>&nbsp;
            <a href="/admin/products/delete?id=<%= listData[i]._id%>">Delete</a>&nbsp;
        </span>
    </li>
    <%}%>
</ul>
<div>
    <%
    if(parseInt(page) > 1){
    %>
    <span>
        <a href="/admin/products/list?page=<%=parseInt(page)-1%>&limit=<%=limit%>">
            <%= parseInt(page) - 1%></a>
    </span>
    <%
    }
    %>
    <span><%= page%></span>
    <%
    if(parseInt(page) < parseInt(totalPage)){
    %>
    <span>
        <a href="/admin/products/list?page=<%=parseInt(page)+1%>&limit=<%=limit%>">
            <%= parseInt(page) + 1%></a>
    </span>
    <%
    }
    %>
</div>
</body>
</html>